@import 'variables';
@import 'mixins';
@import 'display';
@import 'buttons';

.container {
    width: 30%;
    min-width: 365px;
    max-width: 800px;
    background-color: $app-bg;
    border-radius: 5%;

    .logo-container {
        padding: 10%;
    }

    .App {
        @include grid();
        width: 80%;
    }
}